.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-sm);

  justify-content: "center";
}
.text {
  line-height: 1;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semiBold);
}

/* ==================
   Price
   ==================*/
.price_container {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: var(--space-xxxxs);
}
.price {
  display: flex;
  justify-content: end;
  align-items: center;

  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  line-height: 1;
}
.priceLabel {
  font-size: var(--font-size-sm);
  line-height: 1;
}

/* ==================
   Fill / Wrap
   ==================*/
.fill {
  width: 100%;
  padding: var(--space-sm) var(--space-lg);
}
.wrap {
  padding: var(--space-xs) var(--space-lg);
}
