/* ===================================================
   BLOCK
   ===================================================*/
.backgroundContainer {
  background-color: #ffffff;
  border-radius: var(--radius-lg);

  width: 100%;
  height: 513px;
  padding: 12px;
}

/* ======================
   Modifier 
   ====================== */
.container {
  background-color: var(--color-bg);
  box-shadow: 1px 5px 0 #00000025;

  width: 100%;
  height: 100%;
  border-radius: 20px;

  position: relative;

  display: flex;
  flex-direction: column;
}

.tags {
  margin-bottom: 16px;
  display: flex;
  gap: 8px;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #ffffff;
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 18%,
    rgba(252, 240, 244, 0.6) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 18%,
    rgba(252, 240, 244, 0.6) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 18%,
    rgba(252, 240, 244, 0.6) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#FCF0F4", GradientType=0);

  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 2px solid var(--color-primary-light);

  border-radius: 20px;

  height: 299px;
  width: 100%;
  z-index: 9999;
  padding: 32px 48px;

  position: absolute;
  bottom: 0;
}
.title {
  font-weight: var(--font-weight-bold);
  font-style: italic;
  font-size: 36px;
  line-height: 1;
  letter-spacing: -1;
  margin-bottom: 8px;
}
.textDescription {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-extraLight);
  /* font-style: italic; */
  color: var(--color-text);
  line-height: 1;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-primary-light);

  /* Multi-line truncation */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* Change this number to control how many lines show before '...' */
  overflow: hidden;
}
.buttonContainer {
  padding-top: 24px;
}

/* ====================== */

/* ===================================================
   ELEMENT (Unique per camera card)
   ===================================================*/
.KodakFz55Pixpro {
  height: 280px;
  max-width: 445px;

  height: auto;
  width: auto;
  object-fit: cover;

  position: absolute;
  top: -50;
  right: 50;
}
.KodakFz55Pixpro:hover {
  transform: scale(110%);
  top: -70;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .KodakFz55Pixpro {
    top: -40;
    right: 0;
    rotate: 16deg;
  }
  .KodakFz55Pixpro:hover {
    transform: none;
    top: -60;
  }
  .backgroundContainer {
    height: 450px;
    width: 100%;
    max-width: 400px;
  }
  .title {
    font-size: 32px;
  }
  .textDescription {
    font-size: var(--font-size-sm);
  }
  .details {
    height: 270px;
    padding: 24px 24px;
  }
}

@media (max-width: 767px) {
  .KodakFz55Pixpro {
    top: -10;
    right: 0;
    rotate: 16deg;
  }
  .KodakFz55Pixpro:hover {
    transform: none;
    top: -10;
  }
  .title {
    font-size: 24px;
  }
  .textDescription {
    font-size: 13px;
  }
  .backgroundContainer {
    width: 100%;
    height: 420px;
  }
  .details {
    height: 250px;
    padding: 18px 18px;
  }
}
