.btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-text-on-primary);

  border-radius: var(--radius-sm);
  border: 2px solid transparent;
  box-shadow: 3px 6px 0 #803d50;

  background: var(--color-primary);
  background:
    /* background */
    linear-gradient(
        180deg,
        var(--color-primary) 0%,
        var(--color-primary-to-dark) 100%
      )
      padding-box,
    /* border */
    linear-gradient(
        0deg,
        var(--color-primary) 00%,
        var(--color-border-primary-to-dark) 100%
      )
      border-box;
}

/* ======================
   Nav Button
   ======================*/
.nav {
  gap: var(--space-sm);

  border-radius: var(--radius-sm);
  padding: var(--space-xs);
}

.text-nav {
  display: none;
}

/* ======================
   Action Button
   ======================*/
.action {
  gap: var(--space-sm);

  border-radius: var(--radius-sm);
  padding: var(--space-sm) var(--space-xxl);
}
.text-action {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-sm);
}

/* ======================
   Price Action Button
   ======================*/
.price-active {
  display: flex;
  flex-direction: column;
}
.price-disable {
  display: none;
}

.priceAction {
  display: flex;
  justify-content: space-between;
  width: 315px;

  gap: var(--space-sm);
  border-radius: var(--radius-sm);
  padding: var(--space-sm) var(--space-xl);
}
.text-priceAction {
  font-weight: var(--font-weight-semiBold);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-sm);
  text-transform: none;
}

.price-container {
  display: flex;
  flex-direction: column;
}
.price {
  display: flex;
  align-items: center;

  text-align: end;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-sm);
}
.dailyFair {
  text-align: end;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

/* ======================
     Selector Button
   ======================*/
.selector-wrap {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semiBold);
  padding: var(--space-xxxs) var(--space-xs);
}

.selector-fill {
  width: 100%;

  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semiBold);
}
