.day {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  height: 100%;
  cursor: pointer;

  color: var(--color-text-on-secondary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);

  background-color: var(--color-primary-light);

  border-radius: var(--radius-sm);
}

.empty {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.02);
}

.unavailable {
  cursor: not-allowed;
  background-color: transparent;
  /* border: 2px solid var(--color-border-primary-light); */
}

.today {
  color: var(--color-text-on-primary);
  background-color: var(--color-primary);
}

.selected {
  color: var(--color-text-on-secondary);
  background-color: var(--color-primary-light);
  /* border: 2px solid var(--color-text-on-secondary); */

  box-shadow: inset 0px 0px 0px 3px var(--color-text-on-secondary);
  /* transform: translate(-3px, -3px); */
}

.hoverRequired {
  box-shadow: inset 0px 0px 0px 1px var(--color-text-on-secondary);
}

.hoverOptional {
  /* border: 2px dashed var(--color-text-on-secondary); */
  opacity: 0.5;
}

/* ==================
   Accessibility
   ==================*/
.day:focus {
  box-shadow: inset 0px 0px 0px 1px var(--color-text-on-secondary);
}

.today:focus {
  box-shadow: inset 0px 0px 0px 3px var(--color-text-on-secondary);
  /* transform: translate(-3px, -3px); */
}

.selected:focus {
  box-shadow: inset 0px 0px 0px 3px var(--color-text-on-secondary);
  /* transform: translate(-3px, -3px); */
}

@media (max-width: 767px) {
  .day {
    font-size: var(--font-size-md);

    background-color: var(--color-primary-light);

    border-radius: var(--radius-sm);
  }

  .unavailable {
    cursor: not-allowed;
    background-color: transparent;
    border: 0px solid var(--color-border-primary-light);
  }

  .today {
    color: var(--color-text-on-primary);
    background-color: var(--color-primary);
  }

  .unavailable {
    cursor: not-allowed;
    background-color: transparent;
  }
}
