/* calendarDay.module.css — bare structure only, no colors yet */
.day {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  /* width: 100%; */
  height: 100%;
  /* box-sizing: border-box; */
  cursor: pointer;

  color: var(--color-text-on-secondary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);

  background-color: var(--color-primary-light);

  border-radius: var(--radius-sm);
}

.empty {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.02);
}

.unavailable {
  cursor: not-allowed;
  background-color: transparent;
  border: 2px solid var(--color-border-primary-light);
}

/* .available {
} */

.today {
  color: var(--color-text-on-primary);
  background-color: var(--color-primary);
}

/* .selected {
} */

/* ==================
   Animation
   ==================*/

/* ==================
   Accessibility
   ==================*/
.day:focus {
  /* box-shadow: inset 0px 0px 0px 2px var(--color-text-on-secondary); */

  box-shadow: 2px 2px 0px 3px var(--color-text-on-secondary);
  transform: translate(-3px, -3px);
}

.today:focus {
  box-shadow: 2px 2px 0px 3px var(--color-text-on-secondary);
  transform: translate(-3px, -3px);
}
