.Main {
  background: #fcf0f4;
  background: linear-gradient(
    319deg,
    rgba(252, 240, 244, 1) 0%,
    rgba(250, 218, 229, 1) 100%
  );

  min-height: 100dvh;
  width: 100%;

  padding-top: 128px;
  padding-bottom: 256px;

  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;

  transition: 300ms ease;
}

.header {
  margin-bottom: 128px;
}

.SeepiaLogo {
  min-width: 420px;
  min-height: 230px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 992px;
}

.heroSection {
  width: 100%;
  display: flex;
  justify-content: end;
}

.cards {
  height: auto;
  width: 100%;
  padding-top: 64px;

  display: flex;
  gap: 32px;
  align-items: center;
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1024px) {
  .Main {
    padding-top: 92px;
  }
  .header {
    margin-bottom: 64px;
  }
  .container {
    width: 740px;
    padding-inline: 32px;
  }
}

@media (max-width: 767px) {
  .SeepiaLogo {
    min-width: 0px;
    min-height: 0px;

    max-width: 345px;
    max-height: 188px;
  }

  .Main {
    padding-top: 32px;
  }
  .header {
    margin-bottom: 32px;
  }
  .cards {
    flex-direction: column;
  }
  .container {
    padding-top: 64px;
    width: 350px;
  }
}
