.input {
  background-color: var(--color-bg);
  border: none;
  border-radius: 4px;

  width: 100%;
  padding: var(--space-xxs) var(--space-md);
  border-bottom: 1px solid var(--color-border-primary);
}

/* ====================
   DEFAULT
   ==================== */
.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 20px;
  font-weight: var(--font-weight-medium);
  line-height: 1;
  color: var(--color-border-primary);
  width: 100%;
  /* padding: var(--space-xxs) var(--space-md); */
}
.input {
  font-weight: var(--font-weight-regular);
  width: 100%;
}

.input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid var(--color-border-primary);
}

.radioLabel {
  display: flex;
  justify-content: left;
  font-size: 16px;
  color: var(--color-text-on-secondary);
  padding: 6px 0;
}
.inputRadio {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
