.tag {
  display: flex;
  width: fit-content;
  padding: 4px 16px 4px 12px;
  border-radius: 16px;
  text-align: center;
}

.light {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  font-style: italic;

  background-color: var(--color-border-primary-light);
}

.vibrant {
  color: #ffffff;
  font-weight: var(--font-weight-bold);
  font-style: italic;

  background-color: #ef326a;
}

.dark {
  color: var(--color-border-primary-light);
  font-weight: var(--font-weight-bold);
  font-style: italic;

  background-color: #1b1b1b;
}
